[submodule "opel_driver_interface"]
	path = opel_driver_interface
	url = https://github.com/MITEVT/opel_driver_interface.git
[submodule "opel_motor_interface"]
	path = opel_motor_interface
	url = https://github.com/MITEVT/opel_motor_interface.git
[submodule "opel_user_interface"]
	path = opel_user_interface
	url = https://github.com/MITEVT/opel_user_interface.git
[submodule "lpc11cx4-library"]
	path = lpc11cx4-library
	url = https://github.com/MITEVT/lpc11cx4-library.git
[submodule "opel_throttle_interface"]
	path = opel_throttle_interface
	url = https://github.com/MITEVT/opel_throttle_interface.git
[submodule "opel_velocity_interface"]
	path = opel_velocity_interface
	url = https://github.com/MITEVT/opel_velocity_interface.git
[submodule "opel_battery_science"]
	path = opel_battery_science
	url = https://github.com/MITEVT/opel_battery_science.git
[submodule "EVT_KICAD_LIBS"]
	path = EVT_KICAD_LIBS
	url = https://github.com/MITEVT/EVT_KICAD_LIBS.git
[submodule "opel_11U_devboard"]
	path = opel_11U_devboard
	url = https://github.com/MITEVT/opel_11U_devboard.git
[submodule "can_validator"]
	path = can_validator
	url = https://github.com/MITEVT/can_validator
[submodule "opel_fusebox"]
	path = opel_fusebox
	url = https://github.com/MITEVT/opel_fusebox.git
[submodule "opel_power_distribution_monitor"]
	path = opel_power_distribution_monitor
	url = https://github.com/MITEVT/opel_power_distribution_monitor.git
